{% extends 'user_details.html' %}

{% block edit_form %}
<hr>
<h3 class="mt-4">Edit this user</h3>
<div class="container">
  <form action="" class="form-group" method="POST">
    <label class="form-label" for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="{{ user.first_name }}"
      required></input>
    <label class="form-label" for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="{{ user.last_name }}"
      required></input>
    <label class="form-label" for="image_url">Image URL</label>
    <input type="url" class="form-control" id="image_url" name="image_url" placeholder="{{ user.image_url }}"></input>
    <div class="row justify-content-end">
      <a href="/users/{{ user.id }}" class="btn btn-outline-primary mt-3 col-2 col-xl-1">Cancel</a>
      <button class="btn btn-success mt-3 mx-2 col-2 col-xl-1" type="submit">Save</button>
    </div>
  </form>
</div>
{% endblock %}