{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container mt-2">
  <div class="row">
    <img src="{{ user.image_url }}" alt="User profile image" class="img-thumbnail " style="width: 100px; height: 100px;"
      class="col-3">
    <div class="col-9">
      <div class="row">
        <h1 class="ms-3"> {{ user.first_name }} {{ user.last_name }}</h1>
      </div>
      <div class="row">
        <a href="/users/{{ user.id }}/edit" class="btn btn-primary col-2 ms-4 mt-2 text-center h-50">Edit</a>
        <!-- TODO: How to make button have a post request to a different URL -->
        <form action="/users/{{ user.id }}/delete" method="POST" class="col-2 ms-3">
          <input type="hidden" class="d-none" name="user_id" value="{{ user.id }}"></input>
          <button type="submit" class="btn btn-danger my-2">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}